body{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0;
   /* padding: 0;*/
    font-family: 'Zilla Slab', serif;
    font-size: 30px;
    height: 100vh;

}
/*#background{
    position: absolute;
    width: auto;
    height: 100vh;
    top: 0;
    left: 0;
}*/
.logo-section{
   /* background-image: url("images/ryan-loughlin-beach.jpg");*/
   background-color: aqua;
   /*height: 100vh;*/
   align-items: stretch;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 1;
}
.logo-background{
    background-color: rgba(0,0,0,0.25);
    /*width: 33vw;*/
    margin-top: 200px;
}
fieldset{
    border: 0 solid black;
    padding: 0;
    margin: 0;
}
.top-description{
    width: 800px;
}
.form-section{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    display: flex;
    flex-direction: column;
}
.form-row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2;
    
    width: 50vw;
}